{% extends 'base.html.twig' %}

{% block title %}Spaarple{% endblock %}

{% block body %}
    <main>
        <header>
            <div class="container mx-auto">
                <div class="flex py-6 justify-between items-center">
                    <div class="flex flex-row gap-8 items-center">
                        <a href="">
                            <p class="text-body-lg font-bold text-neutral-900">
                                Bruno Simmons
                            </p>
                        </a>
                    </div>
                    <div class="flex flex-row gap-6">
                        <div class="md:flex hidden flex-row gap-6 items-center">
                            <a href="" class="text-body-sm font-medium text-neutral-700 hover:text-primary-600 px-4">
                                poeurt
                            </a>
                        </div>
                        <a class="flex items-center justify-center rounded-full bg-primary-600 text-white font-semibold px-6 py-4 text-body-sm"
                        href="">
                        random btn
                        </a>
                    </div>
                </div>
            </div>
        </header>
{# Jumbotron#}
        <div>
            <div class="container mx-auto">
                <div class="grid lg:grid-cols-12 grid-cols-1 flex-col md:pt-32 pt-16 lg:pb-48 md:pb-40 pb-20 justify-between items-center text-center">
                    <div class="lg:col-span-1"></div>
                    <div class="lg:col-span-10 flex flex-col items-center">
                        <p class="md:text-body-xl text-body-lg font-medium pb-4">
                            Hey there, I’m Bruno Simmons 👋
                        </p>
                        <h1 class="lg:text-display-2xl md:text-display-xl text-display-md font-semibold pb-10">
                            Building digital products, brands and experience
                        </h1>
                        <a class="flex items-center justify-center rounded-full bg-primary-600 text-white font-semibold px-6 py-4 text-body-sm"
                           href="">
                            random btn
                        </a>
                    </div>
                    <div class="lg:col-span-1"></div>
                </div>
                <div class="flex justify-center relative pb-1">
                    <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-hero-line"></span>
                    <div class="bg-white px-4 py-2 relative">
                        <svg
                                width="32"
                                height="32"
                                viewBox="0 0 32 32"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            <path
                                    d="M16 29.3333C23.3638 29.3333 29.3333 23.3638 29.3333 16C29.3333 8.63616 23.3638 2.66663 16 2.66663C8.63616 2.66663 2.66663 8.63616 2.66663 16C2.66663 23.3638 8.63616 29.3333 16 29.3333Z"
                                    stroke="#4B5563"
                                    strokeWidth="1.5"
                                    strokeMiterlimit="10"
                                    strokeLinecap="round"
                                    strokeLinejoin="round"
                                    class="stroke-neutral-600"
                            />
                            <path
                                    d="M11.2933 14.3199L16 19.0133L20.7067 14.3199"
                                    stroke="#4B5563"
                                    strokeWidth="1.5"
                                    strokeLinecap="round"
                                    strokeLinejoin="round"
                                    class="stroke-neutral-600"
                            />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        
{# work#}
        <div id="#work">
            <div class="container mx-auto">
                <div class="flex flex-col gap-12 lg:py-28 py-20">
                    <div class="grid lg:grid-cols-12 grid-cols-1 gap-8 items-center">
                        <div class="xl:col-span-6 lg:col-span-8 flex flex-row items-center gap-8 lg:pr-8">
                            <h2 class="lg:text-display-lg text-display-md font-semibold lg:pl-10">
                                The work I do, <br></br>and business I help.
                            </h2>
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <div class="flex md:flex-row flex-col flex-wrap">
                            <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                                <div>
                                    <img src="" alt="" />
                                </div>
                                <div class="flex flex-col self-stretch pt-6">
                                    <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                        bonjour
                                    </h3>
                                    <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                        ma descritption
                                    </p>
                                </div>
                            </div>
                            <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                                <div>
                                    <img src="" alt="" />
                                </div>
                                <div class="flex flex-col self-stretch pt-6">
                                    <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                        bonjour
                                    </h3>
                                    <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                        ma descritption
                                    </p>
                                </div>
                            </div>
                            <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                                <div>
                                    <img src="" alt="" />
                                </div>
                                <div class="flex flex-col self-stretch pt-6">
                                    <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                        bonjour
                                    </h3>
                                    <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                        ma descritption
                                    </p>
                                </div>
                            </div>
                            <div class="flex basis-1/2 flex-col lg:odd:pl-10 lg:odd:pr-14 lg:even:pr-10 lg:even:pl-14 md:odd:pr-4 md:even:pl-4 px-0 md:even:mt-20 md:odd:pb-20 md:even:pb-0 pb-12">
                                <div>
                                    <img src="" alt="" />
                                </div>
                                <div class="flex flex-col self-stretch pt-6">
                                    <h3 class="lg:text-display-xs text-body-xl font-semibold pb-2">
                                        bonjour
                                    </h3>
                                    <p class="lg:text-body-md text-body-sm font-normal text-neutral-700">
                                        ma descritption
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-start lg:px-10 md:-mt-7">
                            <a
                                    href="/"
                                    class="text-body-sm font-semibold text-white bg-neutral-900 py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                                VISIT MY DRIBBBLE
                                <svg
                                        width="18"
                                        height="18"
                                        viewBox="0 0 18 18"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                    <path
                                            d="M16.7932 4.48233C15.9884 3.10352 14.8967 2.01182 13.5178 1.20704C12.1387 0.40229 10.6333 0 9.00024 0C7.3674 0 5.86147 0.40229 4.48262 1.20704C3.10368 2.0117 2.01198 3.10339 1.20716 4.48233C0.40229 5.86135 0 7.36728 0 9C0 10.6328 0.402413 12.1385 1.20703 13.5176C2.01182 14.8964 3.10352 15.9881 4.48245 16.793C5.86147 17.5977 7.36728 18 9.00008 18C10.6329 18 12.1389 17.5977 13.5178 16.793C14.8966 15.9884 15.9883 14.8964 16.793 13.5176C17.5977 12.1386 17.9999 10.6327 17.9999 9C18 7.36711 17.5977 5.86114 16.7932 4.48233ZM9.00012 1.31252C10.9375 1.31252 12.629 1.95313 14.0742 3.23429L13.9278 3.43923C13.8692 3.52141 13.7227 3.67943 13.4884 3.91393C13.2541 4.14822 12.9982 4.37101 12.7209 4.58191C12.4433 4.79288 12.0666 5.03308 11.5899 5.30263C11.1133 5.57218 10.6055 5.80864 10.0664 6.01174C9.168 4.35533 8.20716 2.86315 7.18368 1.53511C7.80097 1.38669 8.40639 1.31252 9.00012 1.31252ZM2.97681 4.23019C3.72676 3.28506 4.64068 2.55839 5.71892 2.05065C6.68764 3.3397 7.64068 4.81636 8.57825 6.48036C6.20326 7.10536 3.83614 7.41789 1.47675 7.41776C1.72688 6.23815 2.22686 5.17551 2.97681 4.23019ZM1.82818 11.7717C1.48438 10.8928 1.31252 9.96885 1.31252 9C1.31252 8.89057 1.31655 8.80852 1.32426 8.75389C4.15253 8.75389 6.78151 8.39072 9.21118 7.664C9.46123 8.14834 9.66826 8.58195 9.83232 8.96486C9.80068 8.98046 9.75027 8.99795 9.67992 9.01753C9.60936 9.03706 9.55871 9.05061 9.52719 9.05853L9.09371 9.21085C8.7967 9.32028 8.40791 9.50782 7.92763 9.7733C7.44723 10.0392 6.93749 10.3554 6.39839 10.7227C5.85929 11.09 5.30263 11.5763 4.72848 12.182C4.15425 12.7874 3.67184 13.4376 3.2812 14.1329C2.6562 13.4376 2.1719 12.6503 1.82818 11.7717ZM9.00012 16.6876C7.17194 16.6876 5.53914 16.1016 4.10159 14.9298L4.27739 15.0588C4.55079 14.457 4.95308 13.8789 5.48446 13.3243C6.01576 12.7697 6.52744 12.3223 7.01962 11.9823C7.5118 11.6427 8.04691 11.3224 8.62513 11.0213C9.20322 10.7207 9.59754 10.5291 9.80868 10.4473C10.0197 10.3653 10.1877 10.3007 10.3126 10.2537L10.336 10.242H10.3596C11.1249 12.2498 11.6721 14.1952 12.0001 16.078C11.0313 16.4845 10.0315 16.6875 9.00012 16.6876ZM15.4692 13.1543C14.891 14.049 14.1682 14.7894 13.3013 15.3751C12.9807 13.5783 12.481 11.746 11.8011 9.87896C13.3558 9.6365 14.9534 9.74999 16.5941 10.2186C16.4221 11.2811 16.0471 12.2599 15.4692 13.1543ZM16.5704 8.89455C16.4923 8.87904 16.3946 8.86131 16.2774 8.84189C16.1603 8.82248 16.0176 8.79892 15.8496 8.77158C15.6818 8.74424 15.494 8.71892 15.2872 8.69544C15.0801 8.672 14.8594 8.65058 14.6248 8.63104C14.3905 8.61142 14.1405 8.59594 13.875 8.58412C13.6091 8.57247 13.3397 8.56656 13.0662 8.56656C12.793 8.56656 12.5056 8.57448 12.205 8.58999C11.9043 8.60538 11.6134 8.63305 11.3322 8.67204C11.3086 8.63293 11.2794 8.56844 11.2442 8.47855C11.2091 8.38879 11.1835 8.32032 11.1684 8.27345C11.0197 7.94533 10.8478 7.57419 10.6523 7.16024C11.1914 6.94135 11.7052 6.68949 12.1938 6.40426C12.6819 6.11903 13.0722 5.86529 13.3654 5.64265C13.6584 5.41978 13.9357 5.18343 14.1974 4.93351C14.4592 4.68354 14.6289 4.50979 14.7073 4.4121C14.7855 4.31425 14.8597 4.21861 14.9299 4.12498L14.9417 4.11316C16.0823 5.5038 16.6646 7.10528 16.6877 8.91795L16.5704 8.89455Z"
                                            fill="white"
                                    />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#      Services  #}
        <div id="#services">
            <div class="md:container md:mx-auto">
                <div class="lg:py-30 md:py-16 pt-5 pb-12">
                    <div class="flex flex-col relative bg-secondary-100 lg:py-0 py-10">
                        <div class="absolute lg:block hidden h-16 bg-white bottom-0 left-0 right-0"></div>
                        <div class="absolute lg:block hidden h-16 bg-white top-0 left-0 right-0"></div>
                        <div class="grid lg:grid-cols-12 grid-cols-1 xl:gap-8 items-center  relative">
                            <div class="lg:col-span-5 flex flex-col items-start xl:px-18 lg:px-10 md:px-8 px-5 lg:py-32 md:pb-4 pb-10">
                                <h2 class="lg:text-display-lg text-display-md font-semibold pb-4">
                                    What I do for my customers
                                </h2>
                                <p class="text-body-md font-normal text-neutral-600 pb-8">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec
                                    feugiat fringilla lorem sed bibendum.
                                </p>
                                <a class="flex items-center justify-center rounded-full bg-primary-600 text-white font-semibold px-6 py-4 text-body-sm"
                                   href="">
                                    random btn
                                </a>
                            </div>
                            <div class="lg:col-span-7 flex md:flex-row flex-col lg:gap-8 gap-6 items-center xl:pr-16 lg:pr-10 lg:pl-0 md:px-8 px-5 relative">
                                <div class="flex flex-col basis-1/2 lg:gap-8 gap-6 relative">
                                    <div class="bg-white p-8 shadow-xl">
                                        <img src={UI} alt="UI" class="pb-8" />
                                        <p class="text-display-xs font-semibold pb-4">
                                            UI/UX Design
                                        </p>
                                        <p class="text-body-md font-normal text-neutral-600">
                                            Websites, application or other design related tasks. I
                                            love tackling digital problems.
                                        </p>
                                    </div>
                                </div>
                                <div class="flex flex-col basis-1/2 lg:gap-8 gap-6 relative">
                                    <div class="bg-white p-8 shadow-xl">
                                        <img src="" alt="Motion" class="pb-8" />
                                        <p class="text-display-xs font-semibold pb-4">
                                            Motion Graphics
                                        </p>
                                        <p class="text-body-md font-normal text-neutral-600">
                                            Every interaction you apply to your brand makes you
                                            stronger and more priority.
                                        </p>
                                    </div>
                                    <div class="bg-white p-8 shadow-xl">
                                        <img src={Brand} alt="Branding" class="pb-8" />
                                        <p class="text-display-xs font-semibold pb-4">
                                            Branding
                                        </p>
                                        <p class="text-body-md font-normal text-neutral-600">
                                            Positioning the brand first. I create visual identity
                                            across platforms.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{#        logoCloud#}
        <div>
            <div class="container mx-auto">
                <div class="md:py-12 py-8">
                    <div class="flex justify-center relative pb-1">
                        <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-logo-clouds-line"></span>
                        <div class="bg-white px-6 py-3 relative">
                            <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                CRAFTED DESIGNS FOR
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-row flex-wrap justify-center items-center gap-8 py-6">
                        <img src="" alt="" />
                        <img src="" alt="" />
                        <img src="" alt="" />
                        <img src="" alt="" />
                    </div>
                    <div class="flex justify-center relative pb-1">
                        <span class="absolute block h-px bg-white bottom-1/2 left-0 right-0 bg-logo-clouds-line"></span>
                        <div class="bg-white px-6 py-3 relative">
                            <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                MORE THAN 150+ BRANDS
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{#        about#}
        <div id="#about">
            <div class="container mx-auto">
                <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-8 gap-12 items-center lg:py-28 md:pt-12 md:pb-28 pt-10 pb-20">
                    <div class="lg:col-span-5 flex flex-row items-center gap-8">
                        <div class="flex flex-col xl:pr-8">
                            <h2 class="md:text-display-lg text-display-md font-semibold md:pb-6 pb-4">
                                A bit about me
                            </h2>
                            <p class="text-body-md font-normal text-neutral-700">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                odio in et, lectus sit lorem id integer. Nunc odio in et, lectus
                                sit lorem id integer.
                                <br></br>
                                <br></br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                odio in et, lectus.
                                <br></br>
                                <br></br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                odio in et, lectus sit lorem id integer.
                            </p>
                        </div>
                    </div>
                    <div class="lg:col-span-7 lg:grid lg:grid-cols-7 flex md:flex-row flex-col items-center md:gap-8 gap-12">
                        <div class="lg:col-span-4 flex">
                            <img
                                    src=""
                                    alt="Workstation"
                            />
                        </div>
                        <div class="lg:col-span-3 flex md:self-auto self-stretch grow flex-col xl:gap-16 lg:gap-8 gap-12 xl:pl-8">
                            <div class="flex flex-col self-stretch gap-2 pb-4 border-b border-solid border-neutral-400">
                                <p class="md:text-display-lg text-display-md font-semibold">
                                   100
                                </p>
                                <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                    QUoi.
                                </p>
                            </div>
                            <div class="flex flex-col self-stretch gap-2 pb-4 border-b border-solid border-neutral-400">
                                <p class="md:text-display-lg text-display-md font-semibold">
                                    100
                                </p>
                                <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                    QUoi.
                                </p>
                            </div>
                            <div class="flex flex-col self-stretch gap-2 pb-4 border-b border-solid border-neutral-400">
                                <p class="md:text-display-lg text-display-md font-semibold">
                                    100
                                </p>
                                <p class="text-body-sm font-semibold tracking-2 text-neutral-500">
                                    QUoi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#        footer#}
        <footer class="bg-black text-white">
            <div class="container mx-auto">
                <div class="flex flex-col md:py-30 pt-12 pb-20 md:gap-24 gap-16">
                    <div>
                        <h3 class="md:text-display-xl text-display-md font-semibold pb-4">
                            Have an idea?
                        </h3>
                        <a
                                href="/"
                                class="md:text-display-xl text-display-md font-normal hover:text-primary-100 hover:underline">
                            Let’s talk ↗
                        </a>
                    </div>
                    <div class="flex md:flex-row flex-col md:gap-8 gap-12 justify-between">
                        <div>
                            <a
                                    href="mailto:hello@landify.design"
                                    class="md:text-display-xs text-body-xl font-medium text-neutral-200 hover:text-primary-100 hover:underline">
                                hello@landify.design
                            </a>
                        </div>
                        <div class="grid md:grid-cols-3 grid-cols-2 md:gap-12 gap-3 md:pl-32">
                            <a href=""
                                    class="md:text-body-xl text-body-md font-normal text-neutral-200 hover:text-primary-100">
                                Facebook
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>
{% endblock %}