{% extends 'base.html.twig' %}

{% block title %}Mentions Légales et Politique de confidentialité des données personnelles
{% endblock %}

{% block meta_description %}Mentions Légales et Politique de confidentialité de Spaarple. Consultez nos mentions légales et notre politique de confidentialité pour comprendre nos engagements
{% endblock %}

{% block body %}
    <div class="grid grid-cols-6 gap-4">
        <div class="col-start-2 col-span-4">
            <div class="flex min-h-full flex-col justify-center mt-20">
                <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-12 text-center">
                        <h1 class="lg:text-display-1xl md:text-display-xl text-display-md font-semibold pb-10">
                            Mentions légales et <br>politique de confidentialité
                        </h1>
                        <p class="mt-1 text-sm leading-6 text-gray-600">
                            Consultez nos mentions légales et notre politique de confidentialité pour comprendre<br>
                            nos engagements en matière de transparence et de protection des données.
                        </p>
                    </div>
                </div>
                <div class="mt-10 sm:mx-auto sm:w-full">
                    <div class="flex flex-col mb-20">
                        <h2 class="lg:text-display-1xl text-display-md font-semibold mb-3">Informations légales</h2>
                            <p>Vous êtes sur le site de spaarple.fr.</p>
                            <ul class="pb-10">
                                <li>Le site spaarple.fr est éditer par <b>Spaarple</b></li>
                                <li>Responsable de publication : <b>MILLON Louka</b> et <b>LE JEUNE Maxime</b></li>
                                <li class="py-4">Téléphones:<br>
                                    MILLON Louka : <a href="tel:+330781059250" class="hover:underline">07 81 05 92 50</a><br>
                                    LE JEUNE Maxime : <a href="tel:+33631205383" class="hover:underline">06 31 20 53 83</a></li>
                                <li>Adresse mail: bonjour@spaarple.fr</li>
                            </ul>

                        <h2 class="lg:text-display-1xl text-display-md font-semibold mb-3">Informations relatives à la société Spaarple</h2>
                            <p>Crédits du site internet spaarple.fr</p>
                            <ul class="pb-10">
                                <li>Maquette graphique du site internet de Spaarple : Spaarple en coopération avec <b>LOURY Solenne</b></li>
                                <li>Développement du site internet de Spaarple : Spaarple</li>
                                <li>Contenus du site de Spaarple : <b>MILLON Louka</b> et <b>LE JEUNE Maxime</b></li>
                            </ul>

                        <h2 class="lg:text-display-1xl text-display-md font-semibold mb-3">Hébergement de Spaarple</h2>
                            <p>Le site spaarple.fr est hébergé chez :</p>
                            <ul class="pb-10">
                                <li>o2Switch</li>
                                <li>Chem. des Pardiaux, 63000 Clermont-Ferrand, France</li>
                                <li>Téléphone: 04 44 44 60 40</li>
                            </ul>

                        <h2 class="lg:text-display-1xl text-display-md font-semibold mb-3">Droit d'auteur et propriété intellectuelle
                        </h2>
                            <p>Le présent document a pour objet de définir les modalités et conditions dans lesquelles d’une part,
                                la société Spaarple, ci-après dénommé l’EDITEUR, met à la disposition de ses utilisateurs le site,
                                et les services disponibles sur le site et d’autre part, la manière par laquelle l’utilisateur accède au site et utilise ses services.
                                Toute connexion au site est subordonnée au respect des présentes conditions.
                                Pour l’utilisateur, le simple accès au site de Spaarple à l’adresse URL suivante https://spaarple.fr implique l’acceptation de l’ensemble des conditions décrites ci-après.
                            </p>
                        <h2 class="lg:text-display-1xl text-display-sm font-semibold mb-3 mt-3">Propriété intellectuelle</h2>
                        <p>L'ensemble des éléments qui composent le site spaarple.fr : marque, logos et noms de domaine,
                            sont protégés par les lois en vigueur sur la propriété intellectuelle, et appartiennent à
                            <b>Spaarple</b> ou peuvent faire l'objet d'une autorisation d'utilisation formulée par mail.
                            Aucune reproduction, même partielle prévue à l’article L.122-5 du Code de la propriété intellectuelle,
                            ne peut être faite de ce site sans l’autorisation du responsable de publication.</p>

                        <h2 class="lg:text-display-1xl text-display-md font-semibold mb-3 mt-3">Données personnelles</h2>

                        <h3 class="font-semibold mb-3 mt-3">Utilisation des données personnelles collectées</h3>
                        <p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.
                            Dans le cadre de notre activité pour pouvoir répondre à vos messages et vous contacter en cas de besoin, nous vous demandons de nous contacter par mail en renseignant : votre nom et prénom, ainsi que votre adresse mail. Cette demande de contact n'est pas dépendante de notre site web, cependant vos données sont strictement nécessaires au traitement de votre message.
                            Nous conservons ces données pendant une durée de 3 ans à compter de notre dernier échange.</p>

                        <h3 class="font-semibold mb-3 mt-3">Les cookies</h3>
                        <p>La navigation sur le site https://spaarple.fr est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur.
                        <p>Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
                        <p>Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.</p><br>
                        <p>Si vous avez un compte et que vous vous connectez sur ce site, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies.</p><br>
                        <p>Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur.
                            Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran.
                            La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé.</p>

                        <h3 class="font-semibold mb-3 mt-3">Informations de contact</h3>
                        <p> Pour effectuer toutes ces demandes, vous pouvez nous écrire à Spaarple, nous envoyer un e-mail à l’adresse contact@spaarple.fr.
                            Afin de vérifier l’identité du demandeur, accompagnez votre demande d’une copie de votre titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.
                            Pour toutes informations complémentaires au sujet de la protection des données, consultez le guide de La sécurité des données personnelles de la CNIL.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
