<h1>Bienvenue ! {{ user.lastname }} {{ user.firstname }}</h1>

<p>Afin d'avoir accès a notre application, veuillez confirmer votre adresse mail
en cliquant que le bouton ci-dessous</p>

<a href="{{ path('app_register_confirm_account', {'id':  user.id }) }}">Vérifier mon compte</a>

