<h1>Hello! {{ you }}</h1>

<p>You account has been created, please Sign In and change your password quickly</p>
<p>Your password : <b>{{ generatePassword }}</b></p>

<a href="{{ path('app_login') }}">Login here</a>

