{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <div>
        <div class="container mx-auto">
            <div class="grid lg:grid-cols-12 grid-cols-1 flex-col md:pt-32 pt-16 lg:pb-48 md:pb-40 pb-20 justify-between items-center text-center">
                <div class="lg:col-span-1"></div>
                <div class="lg:col-span-10 flex flex-col items-center">
                    <p class="md:text-body-xl text-body-lg font-medium pb-4">
                        Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courrier indésirable ou
                        votre compte de messagerie. Si un compte correspondant à votre adresse e-mail existe,
                        un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
                        <br><br>Ce lien expire dans:
                        <span class="text-secondary-600">
                            {{ resetToken.expirationMessageKey|trans(
                                resetToken.expirationMessageData,
                                'ResetPasswordBundle')
                            }}
                        </span>
                    </p>
                    <div>
                        <a href="{{ path('app_forgot_password_request') }}"
                           class="hover:bg-neutral-800 text-body-sm font-semibold text-white bg-neutral-900
                            py-4 pl-5 pr-4 rounded-full flex flex-row gap-2 items-center justify-center">
                            Réessayer
                        </a>
                    </div>
                </div>
                <div class="lg:col-span-1"></div>
            </div>
        </div>
    </div>
{% endblock %}
