{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}


    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Connexion a votre compte</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
            <div>
                    <button
                            class="flex items-center justify-center rounded-full bg-primary-600 text-white
                            font-semibold px-6 py-4 text-body-sm">
                        Demande de mot de passe oublié
                    </button>
                </div>
            {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}