{% extends 'base_email.html.twig' %}

{% block title_email %}Spaarple{% endblock %}

{% block css_email %}{% endblock %}

{% block body_html_email %}
    <h1>Hey !</h1>

    <p>{{ message|raw }}</p>

{% endblock %}
