Nous avons reçu une nouvelle demande de contact via notre site web. Voici les informations fournies par l'utilisateur.

Nom, Prénom, Entreprise: {{ who }}
Adresse e-mail: {{ contactEmail }}
Message: {{ message }}

<a href="{{ path('app_login') }}">Retrouvez les demandes de contact directement dans votre compte.</a>


